:root {
  --Dark-Blue: hsl(209, 23%, 22%); /*(Dark Mode Elements) */
  --Very-Dark-Blue: hsl(207, 26%, 17%); /*(Dark Mode Background) */
  --Very-Dark-Blue2: hsl(200, 15%, 8%); /*(Light Mode Text)  */
  --Dark-Gray: hsl(0, 0%, 52%); /*(Light Mode Input) */
  --Very-Light-Gray: hsl(0, 0%, 98%); /*(Light Mode Background)  */
  --White: hsl(0, 0%, 100%); /*(Dark Mode Text & Light Mode Elements)*/
  --mWeight: 600;
  --hWeight: 800;
  --hpFont: 14px;
  --dpFont: 16px;
  color: var(--Very-Dark-Blue2);
}
#all {
  min-height: 100vh;
}

.header {
  background-color: var(--White);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 5%;
}
.header-title {
  font-size: 2rem;
  font-weight: var(--hWeight);
}
.theam-change {
  font-weight: var(--mWeight);
  cursor: pointer;
}
.theam-change-container {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  column-gap: 0.5rem;
}

/* input  */

.filter-section {
  width: 100%;
  padding: 3rem 5%;
  display: flex;
  justify-content: space-between;
}
.searchContainer {
  width: 30%;
  background-color: var(--White);
  padding: 1rem 2%;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.searchContainer > svg {
  height: 1.3rem;
}
.input-country-name {
  width: 80%;
  border: none;
}
.input-country-name:focus {
  outline: none;
  color: var(--Dark-Gray);
}

.input-country-name::placeholder {
  font-size: 1.1rem;
}

.placeholder::placeholder {
  color: var(--Very-Light-Gray);
}

.select-region {
  padding: 1.3rem;
  border: none;
  background-color: var(--White);
  border-radius: 0.5rem;
  cursor: pointer;
}
.select-region:focus,
.select-region:active {
  outline: none;
  border: none;
}

.shadow {
  box-shadow: 0px 0px 8px 0px rgb(217, 217, 217);
}

.invalidUrl{
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
}

/* container */
.countries-container {
  width: 100%;
  padding: 0 5%;
  padding-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 5rem;
  column-gap: calc((16%) / 3);
}
.loadingDiv {
  height: 60vh;
  width: 80vw;
  font-size: 2rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 21%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  border-radius: 0.5rem;
}
.cardLink {
  text-decoration: none;
  color: var(--Dark-Blue);
  border-radius: 0.5rem;
}

img.flag {
  width: 100%;
  aspect-ratio: 2/1.2;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.country-detail-container {
  padding: 1.5rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border-radius: 0.5rem;
}

.detail {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  font-weight: 400;
}
.detail span {
  font-weight: var(--mWeight);
}
.country-name {
  font-size: 1.5rem;
}
.dark {
  background-color: var(--Very-Dark-Blue);
}

/* next page */

.detailPage {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  padding: 3rem 5%;
}
.detailContainer {
  display: flex;
  justify-content: space-between;
}

.detailContainer img {
  width: 35%;
}
.details {
  display: flex;
  width: 60%;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2rem 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 1rem;
  max-height: 16rem;
  column-gap: 0.5rem;
}
.borders {
  display: flex;
  column-gap: 1rem;
}

.sm-1 {
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  column-gap: 0.5rem;
}
.sm-1 p {
  font-weight: 400;
  font-size: 1.2rem;
}

.borderCountry {
  font-weight: 600;
  font-size: 1.3rem;
}
.neighbour {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}
.neighbour span {
  padding: 0.3rem 1.5rem;
  border-radius: .3rem;
  text-decoration: none;
}
.borderLink{
  text-decoration: none;
  color: var(--Very-Dark-Blue2);
}

.backButton {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--Dark-Blue);
  text-decoration: none;
  width: 10rem;
  padding: 0.5rem 1.2rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  justify-content: center;
}

.darkMode {
  background-color: var(--Dark-Blue);
  color: var(--White);
  box-shadow: none;
}
.coloreWhite {
  color: var(--White);
}
.errorMessage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.error-icon {
  color: rgb(223, 1, 1);
  font-size: 10rem;
}
.notMatchFound{
  font-size: 2rem;
  font-weight: 600;
}

.whiteFont {
  color: var(--White);
}

@media (max-width:900px) and (min-width:550px){
  .countries-container{
    justify-content: space-between;
  }
  .card{
    width:45%;
  }
  .searchContainer{
    width:50% ;
  }
}

@media (max-width:550px){
  .header-title{
    font-size: 1.6rem;
  }
  .theam-change-container {
    font-size: 1.25rem;
  }
  
  .countries-container{
    justify-content: center;
  }
  .card{
    width:80%;
  }
  .searchContainer{
    width:100% ;
    padding: 5%;
  }
  .select-region{
    padding: 5%;
    width: 50%;
  }
  .filter-section{
    display: flex;
    row-gap: 3rem;
    flex-direction: column;
  }
  .detailContainer {
    flex-direction: column;
    align-items: center;
  }
  .detailContainer img {
    width: 100%;
  }
  .details {
    width: 100%;
    row-gap: 3rem;
  }
  .info{
    flex-wrap: nowrap;
    max-height: none;

  }
  .sm-2 {
    padding-top: 2rem;
  }
  .borders{
    flex-direction: column;
    row-gap: 1.5rem;
  }
  .neighbour {
    justify-content: flex-start;
  }
  .neighbour span {
    text-align: center;
    width:20%;
  }
  .backButton{
    width: 8rem;
  }
}

.filterSec{
  display: flex;
  column-gap: 2rem;

}