:root {
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
  --Very-Light-Gray: hsl(0, 0%, 98%); /*(Light Mode Background)*/
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--Very-Light-Gray);
}
